
.ipynb_checkpoints/odr-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Experiment_AP1/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Experiment_E2/.ipynb_checkpoints/3c-checkpoint.ipynb
Experiment_AP1/.ipynb_checkpoints/1gau-checkpoint.ipynb
Experiment_AP1/.ipynb_checkpoints/Hist_Q-checkpoint.ipynb
Experiment_AP1/.ipynb_checkpoints/arr2table-checkpoint.ipynb
Experiment_AP1/.ipynb_checkpoints/Hist_Q-ohnefit-checkpoint.ipynb
Experiment_AP1/.ipynb_checkpoints/langeTabelle-checkpoint.ipynb
Experiment_AP1/.ipynb_checkpoints/odr-checkpoint.ipynb
Experiment_AP1/__pycache__/odr.cpython-38.pyc
