
.ipynb_checkpoints/odr-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Experiment_AP1/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Experiment_E2/.ipynb_checkpoints/3c-checkpoint.ipynb
Experiment_AP1/.ipynb_checkpoints/1gau-checkpoint.ipynb
Experiment_AP1/.ipynb_checkpoints/Hist_Q-checkpoint.ipynb
Experiment_AP1/.ipynb_checkpoints/arr2table-checkpoint.ipynb
Experiment_AP1/.ipynb_checkpoints/Hist_Q-ohnefit-checkpoint.ipynb
Experiment_AP1/.ipynb_checkpoints/langeTabelle-checkpoint.ipynb
Experiment_AP1/.ipynb_checkpoints/odr-checkpoint.ipynb
Experiment_AP1/__pycache__/odr.cpython-38.pyc
Experiment_AP1/.ipynb_checkpoints/Hist_Q-ohnefit-Copy1-checkpoint.ipynb
Experiment_AP1/.ipynb_checkpoints/langeTabelle-nachkomma-checkpoint.ipynb
Experiment_AP2/.ipynb_checkpoints/h plot-checkpoint.ipynb
Experiment_AP2/.ipynb_checkpoints/odr-checkpoint.ipynb
Experiment_AP2/.ipynb_checkpoints/odr-Copy1-checkpoint.ipynb
Experiment_AP2/.ipynb_checkpoints/arr2table_v2-checkpoint.ipynb
Experiment_AP4/.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
Experiment_AP2/.ipynb_checkpoints/h_ord2_1-checkpoint.png
.ipynb_checkpoints/arr2table_v3.2-checkpoint.ipynb
.ipynb_checkpoints/odr_v2-checkpoint.ipynb
Experiment_AP9/.ipynb_checkpoints/Teil1.2.3-checkpoint.ipynb
Experiment_AP9/.ipynb_checkpoints/odr-checkpoint.ipynb
Experiment_AP9/.ipynb_checkpoints/arr2table_v3.2-checkpoint.ipynb
Experiment_AP9/.ipynb_checkpoints/arr2table_v3.2-checkpoint.ipynb
Experiment_AP9/.ipynb_checkpoints/Teil1.2.3-checkpoint.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints/*